<h1>{{title}}</h1>
{{#if conocido}}
    <p>Hola {{nombre}}</p>
    {{seleccion}}
    <a href="/salir">Salir</a>
{{/if}}

{{#unless conocido}}
    <p>No te conozco, Ingresa tus Datos</p>
    <form method="post" action="/ingresar">
        <input type="text" name="nombre" placeholder="Ingresa Tu Nombre Aquí">
        <button>Ingresar</button>
    </form>
{{/unless}}