<head>
    <link rel='stylesheet' href='/stylesheets/adminlogin.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
        
        <header>
            <a class="logo" href="/">
                <img class="logo-img" src='/images/logo.png' width='100'/>
            </a>
            <nav class="menu">
                    <ul>
                        <a href="/">Home</a>
                        <a href="/Nosotros">nosotros</a>
                        <a href="/Novedades">novedades</a>
                        <a href="/Contacto">contacto</a>
                    </ul>
            </nav>
        </header>
        <body>
            {{{body}}}
        </body>
