<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav>
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="/biblioteca">Biblioteca</a></li>
        </ul>
    </nav>
    {{{body}}}
  </body>
</html>
